.Project {
    width: 63.4375rem;
    height: 31.25rem;
}

.Project .loading {
    width: 5vh;
    height: 37vh;
    margin: auto;
}

.Project .loading img {
    width: 5vh;
    height: 5vh;
}

.Project-container {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: space-between;
}

.Project .thumbnail-container {
    width: 33.75rem;
    height: inherit;
}

.Project .thumbnail-container img {
    object-fit: cover;
}

.Project .thumbnail-container .tablet, .thumbnail-container .mobile {
    display: none;
}

.Project .info {
    display: flex;
    flex-basis: 21.875rem;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    border-top: 1px solid rgb(51, 50, 61, .15);
    border-bottom: 1px solid rgb(51, 50, 61, .15);
    color: #33323D;
}

.Project .info h2 {
    font-family: "Ibarra Real Nova";
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: -.36px;
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.Project .info .description {
    font-family: "Public Sans";
    font-size: 1rem;
    line-height: 1.875rem;
    opacity: .8;
    margin-bottom: 1.5rem;
}

.Project .info button {
    width: 10.9375rem;
    height: 3rem;
    border: 1px solid #33323D;
    letter-spacing: 2px;
    line-height: .875rem;
    font-size: .75rem;
    background-color: transparent;
}

.disable {
    cursor:not-allowed!important;
    background-color: rgb(235, 230, 230)!important;
    border: .5px solid rgb(206, 205, 205) !important;
}



@media only screen and (max-width: 1130px) {
    .Project {
        width: 43.0625rem;
        height: 26.125rem;
    }

    .Project .thumbnail-container {
        width: 21.1875rem;
        height: 19.625rem;;
        margin: 3.25rem 0;
    }

    .Project .thumbnail-container img {
        width: inherit;
        height: inherit;
    }

    .Project .thumbnail-container .tablet {
        display: inline;
    }

    .Project .thumbnail-container .desktop, .thumbnail-container .mobile {
        display: none;
    }

    .Project .info {
        flex-basis: 17.5625rem;
    }

    .Project .info h2 {
        margin-bottom: 1.8125rem;
    }

    .Project .info .description {
        font-size: .9375rem;
        margin-bottom: 2.1875rem;

    }
}

@media only screen and (max-width: 705px) {
    .Project {
        width: 19.4375rem;
        height: auto;
    }

    .Project .Project-container {
        flex-direction: column;
        position: relative;
    }

    .Project .thumbnail-last .info {
        height: 23.25rem;
        position: relative;
        top: 20rem;
    }

    .Project .thumbnail-last .thumbnail-container {
        position: relative;
        top: -23.25rem;
        margin-top: 0;
    }

    .Project .Project-container .thumbnail-container {
        width: inherit;
        height: 18rem;
        margin-bottom: 2rem;
    }

    .Project .thumbnail-container .tablet, .thumbnail-container .desktop {
        display: none;
    }

    .Project .thumbnail-container .mobile {
        display: inline;
    }

    .Project .info {
        flex-basis: inherit;
        padding: 1.5625rem 0;
    }

    .Project .info h2 {
        margin-bottom: 1.5rem;
    }

    .Project .info .description {
        margin-bottom: 1.5rem;
    }
}