.GetInTouch {
    height: 22.125rem;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.9375rem;
    border-top: 1px solid rgb(51, 50, 61, .15);
    border-bottom: 1px solid rgb(51, 50, 61, .15);
    display: flex;
    align-items: center;
}

.GetInTouch .container {
    width: inherit;
    height: 16.125rem;
    display: flex;
}

.GetInTouch .container h2 {
    flex: 0 0 21.875rem;
    font-family: "Ibarra Real Nova";
    font-size: 2.5rem;
    line-height: 2.625rem;
    font-weight: bold;
    letter-spacing: -.36px;
    color: #33323D;
}

.GetInTouch .info {
    flex: 0 0 39.6875rem;
    height: 16.125rem;
}

.GetInTouch .info .description {
    height: 13.125rem;
    font-family: "Public Sans";
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgb(51, 50, 61, .8);
    margin-bottom: 1.5rem;
}

.GetInTouch .separator {
    flex: 1;
}

.GetInTouch .social-media {
    display: flex;
    align-items: center;
    height: 1.5rem;
}

.GetInTouch .social-media a {
    margin-right: 1rem;
}

@media only screen and (max-width: 1130px) {
    .GetInTouch {
        height: 22.375rem;
        margin-top: 2.9375rem;
        flex-direction: column;
        justify-content: center;    
    }

    .GetInTouch .container {
        display: block;
        height: 18.375rem;
    }

    .GetInTouch .container h2 {
        width: 17.5625rem;
    }

    .GetInTouch .separator {
        height: 1.5rem;
    }

    .GetInTouch .info {
        height: 14.25rem;
    }

    .GetInTouch .info .description {
        height: 11.25rem;
        font-size: .9375rem;
    }
}

@media only screen and (max-width: 705px) {
    .GetInTouch {
        height: 35rem;
        margin-bottom: 2.9375rem;
        flex-direction: column;
        justify-content: center;    
    }

    .GetInTouch .container {
        display: block;
        height: 31.5rem;
    }

    .GetInTouch .container h2 {
        width: 100%;
    }

    .GetInTouch .separator {
        height: 1.5rem;
    }

    .GetInTouch .info {
        height: 27.375rem;
    }

    .GetInTouch .info .description {
        height: 24.375rem;
        font-size: .9375rem;
    }
}