.FooterBar {
    width: 100%;
    height: 5rem;
    background-color: #33323D;
    display: flex;
    align-items: center;
}

.FooterBar .container {
    width: 69.4375rem;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.FooterBar .container .links {
    align-items: center;
    display: flex;
    height: 100%;
}

.FooterBar .container .logo-container {
    height: 2rem;
    width: 3.8rem;
    display: inline;
}

.FooterBar .log-container svg {
    width: 100%;
    height: 100%;
}

.FooterBar .container .menu {
    margin-left: 3rem;
    flex: 1 1;
    display: flex;
    color: white;
}

.FooterBar .menu li {
    margin-right: 2.625rem;
    line-height: .875rem;
    font-family: "Public Sans";
    font-size: .75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

.FooterBar .separator {
    flex: 1 1;
}

.FooterBar .social-media {
    flex: 0 0 auto;
}

.FooterBar .social-media a {
    margin-left: 1rem;
}

@media only screen and (max-width: 1130px) {
    .FooterBar .container {
        width: 43.0625rem;
    }
}

@media only screen and (max-width: 705px) {
    .FooterBar {
        height: 22.125rem;
        justify-content: center;
    }

    .FooterBar .container {
        width: 6.5rem;
        height: 15.125rem;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .FooterBar .container .links {
        flex-direction: column;
        justify-content: space-between;
    }

    .FooterBar .container .logo-container {
        display: block;
    }

    .FooterBar .container .menu {
        flex-direction: column;
        margin: 0;
        margin-top: 2.5rem;
        height: 6.625rem;
        width: 6.125rem;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .Footer .container .menu li {
        margin: 0;
    }

    .FooterBar .separator {
        flex: 1 0;
        height: 1rem;
    }

    .FooterBar .social-media {
        flex: 0 1 6.5rem;
        width: 6.5rem;
        height: 1.5rem;
        display: flex;
        position: relative;
        top: 2.5rem;
        
    }

    .FooterBar .social-media a:first-child {
        margin-left: 0;
    }
}