.header {
    font-family: "Public Sans";
    display: flex;
    align-items: center;
    width: 69.4375rem;
    height: 2rem;
    margin: auto;
}

.header .logo_container, .logo_container img {
    width: 3.755rem;
    height: 2rem;
}

.header .separator {
    flex: 1;
}

.header .navigation_menu {
    flex:  0 0 auto;
    color: #33323D;
}

.header .navigation_menu li {
    display: inline;
    margin-left: 2.625rem;
    cursor: pointer;
    /* font-weight: 100;*/
    font-size: .75rem;
    line-height: .875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: .875rem;
}

.active {
    color: #5FB4A2 !important;
}