.header {
    font-family: "Public Sans";
    display: flex;
    align-items: center;
    width: 69.4375rem;
    height: 2rem;
    margin: auto;
    position: relative;
}

.header .logo_container, .logo_container img {
    width: 3.755rem;
    height: 2rem;
}

.header .separator {
    flex: 1;
}

.header .navigation_menu {
    flex:  0 0 auto;
    color: #33323D;
}

.header .icon_container {
    display: none;
}

.header .navigation_menu li {
    display: inline;
    margin-left: 2.625rem;
    cursor: pointer;
    /* font-weight: 100;*/
    font-size: .75rem;
    line-height: .875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: .875rem;
}

.active {
    color: #5FB4A2 !important;
}

@media only screen and (max-width: 1130px) {
    .header {
        width: 43rem;
    }
}

@media only screen and (max-width: 705px) {
    .header {
        width: 19.4375rem;
    }

    .header .icon_container {
        display: inline;
        cursor: pointer;
    }

    .header .navigation_menu {
        display: none;
        position: absolute;
        top: 2rem;
        right: 0;
        width: 13.9375rem;
        height: 0rem;
        padding: 0;
        background-color: #33323D;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        font-weight: 100;
        overflow: hidden;
        box-sizing: content-box;
        transition: padding .2s ease-in, height .2s ease-in;
    }

    .header .navigation_menu li {
        color: white;
        margin: 0;
    }
}