.ContentBlock {
    width: 69.4375rem;
    margin: auto;
}

.ContentBlock .separator {
    height: 9.375rem;
}

@media only screen and (max-width: 1130px) {
    .ContentBlock {
        width: 43rem;
    }

    .ContentBlock .separator {
        height: 6rem;
    }
}