.App {
    background-color: #FAFAFA;
}

.App .separator_1 {
    height: 4rem;
}

.App .separator_2 {
    height: 3.375rem;
}

.App .separator_3 {
    height: 9.375rem;
}

@media only screen and (max-width: 1130px) {
    .App .separator_1 {
        height: 2.9875rem;
    }

    .App .separator_2 {
        height: 2.9375rem;
    }

    .App .separator_3 {
        height: 6rem;
    }
}

@media only screen and (max-width: 705px) {
    .App .separator_1 {
        height: 2rem;
    }

    .App .separator_2 {
        height: 2.5rem;
    }

    .App .separator_3 {
        height: 7.1875rem;
    }
}
